<section ng-if="vm.advertisement">
   <div layout="row" flex-md flex-gt-md="120" layout-align="center center">
       <md-content>
           <md-card>
               <md-card-header>
                   <md-card-header-text layout>
                       <div layout="column" flex>
                           <span id="advertisement-span-title" class="md-title">{{vm.advertisement.title}}</span>
                           <span id="advertisement-span-type" class="md-subhead">FOR {{vm.advertisement.type}}</span>
                       </div>
                       <div layout="column" flex layout-align="start end">
                           <span id="advertisement-span-price-currency" class="md-title">{{vm.advertisement.price}} {{vm.advertisement.currency}}</span>
                           <span id="advertisement-span-averageRating" class="md-subhead">Average rating {{vm.advertisement.averageRating}}</span>
                       </div>
                   </md-card-header-text>
               </md-card-header>
               <img id="advertisement-img-realEstate" ng-src="{{vm.advertisement.realEstate.imageUrl}}"/>
               <div layout="row">
                   <div flex layout="column" layout-padding="start start">
                       <span class="md-headline">Description</span>
                       <p id="advertisement-p-description">{{vm.advertisement.realEstate.description}}</p>
                   </div>
                   <div flex layout="column" layout-align="start end">
                       <md-card-actions>
                           <md-button id="advertisement-btn-report" ng-if="vm.canAdd" class="md-primary" ng-click="vm.openDialogForReport($event)">Create report</md-button>
                           <md-button id="advertisement-btn-review" ng-if="vm.canAdd" class="md-primary" ng-click="vm.openDialogForReview($event)">Create review</md-button>
                       </md-card-actions>
                   </div>
               </div>
               <md-card-content>
                    <div layout="row" layout-margin>
                        <div layout="column" flex-md flex-gt-md="25" layout-padding>
                            <span class="md-title">Details</span>
                            <span id="advertisement-span-announcedOn">Announced on: {{vm.advertisement.announcedOn | date:'medium'}}</span>
                            <span id="advertisement-span-editedOn">Edited on: {{vm.advertisement.editedOn | date:'medium'}}</span>
                            <span id="advertisement-span-endsOn">Ends on: {{vm.advertisement.endsOn | date:'medium'}}</span>
                            <span id="advertisement-span-advertiser-name">Advertiser: {{vm.advertisement.advertiser.name}}</span>
                            <span id="advertisement-span-status">Status: {{vm.advertisement.status}}</span>
                        </div>
                        <div layout="column" flex-md flex-gt-md="25" layout-padding>
                            <span class="md-title">About real estate</span>
                            <span id="advertisement-span-realEstate-name">Name: {{vm.advertisement.realEstate.name}}</span>
                            <span id="advertisement-span-reaEstate-type">Type: {{vm.advertisement.realEstate.type}}</span>
                            <span id="advertisement-span-reaEstate-technicalEquipment">Technical equipment: {{vm.advertisement.realEstate.tehnicalEquipment}}</span>
                            <span id="advertisement-span-realEstate-address">Address: {{vm.advertisement.realEstate.location.city}}
                                <br/>
                                {{vm.advertisement.realEstate.location.street}} {{vm.advertisement.realEstate.location.streetNumber}}
                                <br/>
                                {{vm.advertisement.realEstate.location.state}} {{vm.advertisement.realEstate.location.zipCode}}
                            </span>
                            <div>Owner of this real estate:
                                <span>
                                     <a id="advertisement-a-realEstate-owner-name" class="md-primary" ng-click="vm.goToProfileOf(vm.advertisement.realEstate.owner)">{{vm.advertisement.realEstate.owner.name}}</a>
                                </span>
                            </div>
                        </div>
                        <div layout="column" flex-md flex-gt-md="25" layout-padding>
                            <span class="md-title">About advertiser</span>
                            <div layout>
                                <div flex>
                                    <span>Name:</span>
                                </div>
                                <div flex>
                                    <a id="advertisement-a-realEstate-advertiser-name" class="md-primary" ng-click="vm.goToProfileOf(vm.advertisement.advertiser)">{{vm.advertisement.advertiser.name}}</a>
                                </div>
                            </div>
                            <div layout>
                                <div flex>
                                    <span>Phone numbers:</span>
                                </div>
                                <div flex>
                                    <div ng-repeat="phoneNumber in vm.advertisement.advertiser.phoneNumbers">{{phoneNumber}}</div>
                                </div>
                            </div>
                            <div layout>
                                <div flex>
                                    <span>Contact emails:</span>
                                </div>
                                <div flex>
                                    <div ng-repeat="contactEmail in vm.advertisement.advertiser.contactEmails">{{contactEmail}}</div>
                                </div>
                            </div>
                        </div>
                        <div flex-md flex-gt-md="25" map-lazy-load="https://maps.google.com/maps/api/js">
                            <ng-map flex center="{{vm.location}}" zoom="5">
                                <custom-marker position="{{vm.location}}">
                                    <div>{{vm.advertisement.realEstate.name}}</div>
                                </custom-marker>

                            </ng-map>
                        </div>
                    </div>
               </md-card-content>
               <md-card-actions layout="row" layout-align="end" ng-if="vm.advertisement.advertiser.id === vm.userId && vm.advertisement.status != 'ACTIVE'">
                   <md-button id="advertisement-btn-done" class="md-raised md-primary" ng-click="vm.markAsDone()">Finish
                        <md-tooltip>Mark as done</md-tooltip>
                   </md-button>
               </md-card-actions>
           </md-card>
       </md-content>
   </div>
    <div layout="row" layout-margin>
        <div flex-md flex-gt-md="50">
           <md-toolbar>
               <div class="md-toolbar-tools" layout-align="center center">Reviews</div>
           </md-toolbar>
           <md-content>
               <md-list>
                   <md-list-item class="md-3-line md-long-text" ng-repeat="review in vm.advertisement.reviews">
                       <img ng-src="{{review.author.imageUrl}}" class="md-avatar" alt="{{review.author.name}}" />
                       <div class="md-list-item-text">
                           <h3>{{review.author.name}}</h3>
                           <p>{{review.comment}}</p>
                           <p>Rating: {{review.rating}}</p>
                           <md-button ng-if="review.canBeErased" class="md-primary md-hue-2" ng-click="vm.deleteReview(review)">Delete</md-button>
                       </div>
                   </md-list-item>
               </md-list>
           </md-content>
        </div>
        <div flex-md flex-gt-md="50">
            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="center center">Reports</div>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item class="md-3-line md-long-text" ng-repeat="report in vm.advertisement.reports">
                        <img ng-src="{{report.author.imageUrl}}?25" class="md-avatar" alt="{{report.author.name}}" />
                        <div class="md-list-item-text">
                            <h3>{{report.author.name}}</h3>
                            <p>{{report.reason}}</p>
                            <p>{{report.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
   </div>
</section>