<div layout="row" layout-padding>
    <div flex="35" flux-offset="5">
        <mg-content class="md-padding" layout="row" layout-align="start center">
            <div layout="column">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Filter by</h3>
                    </div>
                </md-toolbar>
                <div layout layout-padding>
                    <md-input-container>
                        <label>Advertisement title</label>
                        <input id="advertisements-input-filter-title" ng-model="vm.filter.advertisementTitle"/>
                    </md-input-container>
                    <md-input-container>
                        <label>Advertisement type</label>
                        <md-select id="advertisements-select-filter-ad-type" ng-model="vm.filter.advertisementType" placeholder="Advertisement type">
                            <md-option value="SALE">SALE</md-option>
                            <md-option value="RENT">RENT</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout layout-padding>
                    <md-input-container>
                        <label>Price from</label>
                        <input id="advertisements-input-filter-priceFrom" type="number" ng-model="vm.filter.priceFrom"/>
                    </md-input-container>
                    <md-input-container>
                        <label>Price to</label>
                        <input id="advertisements-input-filter-priceTo" type="number" ng-model="vm.filter.priceTo"/>
                    </md-input-container>
                </div>
                <div layout layout-padding>
                    <md-input-container>
                        <label>Real estate name</label>
                        <input id="advertisements-input-filter-re-name" ng-model="vm.filter.realEstateName"/>
                    </md-input-container>
                    <md-input-container>
                        <label>Real estate name</label>
                        <md-select id="advertisements-select-filter-re-type" ng-model="vm.filter.realEstateType">
                            <md-option value="APARTMENT">Apartment</md-option>
                            <md-option value="HOUSE">House</md-option>
                            <md-option value="ROOM">Room</md-option>
                            <md-option value="COTTAGE">Cottage</md-option>
                            <md-option value="RESIDENTIAL_FACILITY">Residential facility</md-option>
                            <md-option value="BUSINESS_SPACE">Business space</md-option>
                            <md-option value="WAREHOUSE">Warehouse</md-option>
                            <md-option value="OUTLET">Outlet</md-option>
                            <md-option value="CATERING">Catering</md-option>
                            <md-option value="MANUFACTURING">Manufacturing</md-option>
                            <md-option value="SPORT">Sport</md-option>
                            <md-option value="BUSINESS_FACILITY">Business facility</md-option>
                            <md-option value="CONSTRUCTION">Construction</md-option>
                            <md-option value="AGRICULTURAL">Agricultural</md-option>
                            <md-option value="LAND">Land</md-option>
                            <md-option value="NEW_CONSTRUCTION">New construction</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-button id="advertisements-btn-search" class="md-raised md-accent" ng-click="vm.searchByFilters()">Search</md-button>
                <md-button id="advertisements-btn-clear" class="md-raised md-accent" ng-click="vm.clearFilters()">Clear</md-button>
            </div>
        </mg-content>
    </div>
    <div flex="80">
        <md-content class="md-padding list-card" layout="row" layout-align="center stretch">
            <div flex-md flex-gt-md="60" layout="column">

                <md-card flex map-lazy-load="https://maps.google.com/maps/api/js">
                    <ng-map center="45, 19" zoom="3">
                        <custom-marker ng-repeat="add in vm.markers" position="{{add.realEstate.location.latitude}}, {{add.realEstate.location.longitude}}">
                            <div ng-click="vm.toAdvertisement(add)" style="cursor: pointer;">{{add.realEstate.name}}</div>
                        </custom-marker>
                    </ng-map>
                </md-card>

                <md-card ng-repeat="advertisement in vm.advertisements" md-whiteframe="2">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{advertisement.title}}</span>
                            <span class="md-subhead">Updated at: {{advertisement.editedOn | date: 'medium'}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="image-wrapper">
                                <img layout-fill ng-src="{{advertisement.realEstate.imageUrl}}"/>
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content layout="column">
                        <span class="md-subhead">Price: {{advertisement.price}} {{advertisement.currency}} </span>
                        <span class="md-subhead">Location: {{advertisement.realEstate.location.city}} {{advertisement.realEstate.location.street}} {{advertisement.realEstate.location.streetNumber}}</span>
                        <span class="md-subhead">Advertiser: {{advertisement.advertiser.name}}</span>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <button aria-label="Details" class="md-button md-raised md-primary" ng-click="vm.toAdvertisement(advertisement)">Details</button>
                    </md-card-actions>
                </md-card>
                <md-content ng-if="vm.advertisements.length" layout="row" layout-align="center center">
                    <md-button id="advertisements-btn-previousPage" class="md-raised" ng-click="vm.previousPage()">Previous</md-button>
                    <md-button class="md-raised" ng-repeat="pageNumber in vm.numberOfPages"
                               ng-click="vm.toPage(pageNumber)">{{pageNumber+1}}
                    </md-button>
                    <md-button id="advertisements-btn-nextPage" class="md-raised" ng-click="vm.nextPage()">Next</md-button>
                </md-content>
            </div>
        </md-content>
    </div>
</div>