<!DOCTYPE html>
<html lang="en" ng-app="poretti">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h1>{{vm.heading}}</h1>
    <table>
        <tbody>
            <tr ng-repeat="advertisement in vm.advertisements">
                <td>{{advertisement.title}}</td>
                <td>{{advertisement.price}}</td>
                <td><md-button ng-click="vm.toAdvertiserOf(advertisement)">Advertiser's profile</md-button></td>
                <td><md-button ng-click="vm.toAdvertisement(advertisement)">Advertisement</md-button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>