<md-dialog aria-label="Choose real estate"  flex-md flex-gt-md="60">
    <md-toolbar>
        <div class="md-toolbar-tools">Add real estate</div>
    </md-toolbar>
    <md-dialog-content layout-padding layout-margin>
        <h4 class="md-display-2 md-subhead" ng-show="!vm.realEstates.length">You have no real estates. You can add new if you wish.</h4>
        <div layout-padding ng-repeat="realEstate in vm.realEstates">
            <div layout>
                <div flex>
                    <div>
                        <img layout-fill style="height: 10em; width:20em" ng-src="{{realEstate.imageUrl}}"/>
                    </div>
                </div>
                <div flex-md- flex-gt-md="30">
                    <div layout="column">
                        <span class="md-headline">{{realEstate.name}}</span>
                        <span class="md-subhead">{{realEstate.area}}</span>
                        <span class="md-subhead">{{realEstate.type}}</span>
                        <md-checkbox aria-label="Choose this real estate" ng-click="vm.chosenRealEstate = realEstate"></md-checkbox>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button id="realEstates-btn-ok" ng-show="vm.realEstates.length" class="md-raised md-primary" ng-click="vm.confirmResponse()">Ok</md-button>
        <md-button id="realEstates-btn-cancel" class="md-raised md-accent" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>