<md-dialog aria-label="Edit company data" flex-md flex-gt-md="40">
    <md-toolbar>
        <div class="md-toolbar-tools">Edit company data</div>
    </md-toolbar>
    <md-dialog-content layout-padding layout-margin>
        <form flex ng-cloak layout="column">
            <md-input-container>
                <label>Name</label>
                <input id="companyEdit-input-name" type="text" ng-model="vm.companyToEdit.name"/>
            </md-input-container>
            <input type="hidden" ng-model="vm.companyToEdit.imageUrl"/>
            <md-chips ng-model="vm.companyToEdit.phoneNumbers" readonly="false" placeholder="Phone numbers"></md-chips>
            <br/><br/>
            <md-chips ng-model="vm.companyToEdit.contactEmails" readonly="false" placeholder="Contact emails"></md-chips>
            <md-input-container>
                <label>State</label>
                <input id="companyEdit-input-state" ng-model="vm.companyToEdit.location.state"/>
            </md-input-container>
            <md-input-container>
                <label>City</label>
                <input id="companyEdit-input-city" required ng-model="vm.companyToEdit.location.city"/>
            </md-input-container>
            <md-input-container>
                <label>City area</label>
                <input id="companyEdit-input-cityArea" ng-model="vm.companyToEdit.location.cityArea"/>
            </md-input-container>
            <md-input-container>
                <label>Zip code</label>
                <input id="companyEdit-input-zipCode" ng-model="vm.companyToEdit.location.zipCode"/>
            </md-input-container>
            <md-input-container>
                <label>Street</label>
                <input id="companyEdit-input-street" ng-model="vm.companyToEdit.location.street"/>
            </md-input-container>
            <md-input-container>
                <label>Street number</label>
                <input id="companyEdit-input-streetNumber" ng-model="vm.companyToEdit.location.streetNumber"/>
            </md-input-container>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button id="companyEdit-button-ok" class="md-raised md-primary" ng-click="vm.confirmResponse()">Ok</md-button>
        <md-button id="companyEdit-button-cancel" class="md-raised md-accent" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>