<md-dialog aria-label="Edit data" flex-md flex-gt-md="80">
    <md-toolbar>
        <div class="md-toolbar-tools">Edit your data</div>
    </md-toolbar>
    <md-dialog-content layout-padding layout-margin layout="row" layout-align="center center">
        <form flex="40" ng-cloak layout="column">
            <md-input-container>
                <label>Name</label>
                <input id="userToEdit-input-name" type="text" ng-model="vm.userToEdit.name"/>
            </md-input-container>
            <input type="hidden" ng-model="vm.userToEdit.imageUrl"/>
            <md-chips ng-model="vm.userToEdit.phoneNumbers" readonly="false" placeholder="Phone numbers"></md-chips>
            <br/><br/>
            <md-chips ng-model="vm.userToEdit.contactEmails" readonly="false" placeholder="Contact emails"></md-chips>
        </form>

        <div flex="40">
            <image-upload object="vm.userToEdit"></image-upload>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button id="userToEdit-btn-ok" class="md-raised md-primary" ng-click="vm.confirmResponse()">Ok</md-button>
        <md-button id="userToEdit-btn-cancel" class="md-raised md-accent" ng-click="vm.cancel()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>