<div layout flex-md flex-gt-md="120">
    <div layout="column" flex  flex-gt-md="40" layout-padding>
        <div md-whiteframe="3" layout>
            <div flex>
                <div layout-fill class="md-media-md">
                    <img style="height:20em" ng-src = {{vm.verifier.imageUrl}}/>
                </div>
            </div>
            <div flex>
                <div layout="column">
                    <span class="md-headline">{{vm.verifier.name}}</span>
                    <span>Phone numbers: {{vm.verifier.phoneNumbers}}</span>
                    <span>Contact emails: {{vm.verifier.contactEmails}}</span>
                </div>
            </div>
        </div>

    </div>
    <div layout="column" flex flex-gt-md="80" layout-padding>
            <div layout-padding ng-repeat="reportedAdv in vm.reported">
                <div layout>
                    <div flex>
                        <div>
                            <img layout-fill style="height: 10em; width:20em" ng-src="{{reportedAdv.realEstate.imageUrl}}"/>
                        </div>
                    </div>
                    <div flex>
                        <div layout="column">
                            <span class="md-headline">{{reportedAdv.title}}</span>
                            <span class="md-subhead">{{reportedAdv.price}}</span>
                            <span class="md-subhead">{{reportedAdv.advertiser.name}}</span>
                            <div layout>
                                <md-button class="md-primary md-hue-2" ng-click="vm.goToAdvertisement(reportedAdv)">Details</md-button>
                                <md-button class="md-hue-2 md-warn" ng-click="vm.getReports(reportedAdv)">Show reports</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
            <div ng-if="vm.showReports" layout-padding>
                <md-button class="md-icon-button md-primary md-hue-2" ng-click="vm.showReports = !vm.showReports">
                    <md-icon aria-label="Hide" class="material-icons">highlight_off</md-icon>
                </md-button>
                <div ng-repeat="report in vm.chosenAdvertisement.reports">
                    <div layout>
                        <div flex>
                            <div layout="column">
                                <span class="md-headline">{{report.reason}}</span>
                                <span class="md-subhead">{{report.description}}</span>
                            </div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                </div>
                <md-button class="md-raised md-primary md-hue-2" ng-click="vm.changeStatus()">{{vm.actionBasedOnStatus()}}</md-button>
            </div>
    </div>
</div>

