<section>
    <md-content layout-padding layout="row" layout-align="center center">
        <div flex-md flex-gt-md="50" md-whiteframe="3">
            <form name="loginForm" layout="column" ng-submit="vm.login()">
                <md-input-container>
                    <label>Username</label>
                    <input id="login-input-username" required ng-model="vm.user.username"/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input id="login-input-password" type="password" required ng-model="vm.user.password"/>
                </md-input-container>
            </form>
            <md-button id="login-btn-login" class="md-raised md-primary" ng-click="vm.login()">Log in</md-button>
        </div>
    </md-content>
</section>